body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width as needed */
  text-align: center; /* Center the content */
}

#expense,
#expensesPerPage,
#paginationButtons,
#leaderboard,
#previousDownloads {
  margin-top: 20px; /* Add space between sections */
}

#expense {
  background-color: #e6f7ff; /* Light blue */
}

#rzy_btn {
  background-color: #ffa64d; /* Orange */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Add space */
}

#premiumMessage {
  color: green;
  margin-top: 10px;
}

#expensesPerPage {
  background-color: #ffe6cc; /* Light orange */
}

#paginationButtons {
  background-color: #ccffcc; /* Light green */
}

#leaderboard {
  background-color: #f2f2f2; /* Light grey */
}

#previousDownloads {
  background-color: #ffccff; /* Light pink */
}